body {
  background-color: #68A7AD;
  margin: 0;
  font-family: 'Fauna One', serif;
  padding: 20px;
}

img {
  height: 100px;
  display: block;
  text-align: center;
  margin: auto;
}

.big-navbar {
    display: flex;
    background-color: #99C4C8;
    padding: 5px 5px;
    color: white;
  }
  
  .navbar-clickables {
    display: flex;
    justify-content: space-around;
    flex: 2;
    flex-wrap: wrap;
  }
  
  .nav-link {
     text-decoration: none;
     color: white;
     padding: 5px;
     margin: 5px;
  }
  
  .logo-header {
    flex: 1;
  }
  
  .blank-section {
    flex: 1;
  }

  #video {
    display: flex;
    justify-content: center;
  }

@media only screen and (max-width: 600px) {
  div.video {
    display: none;
  }
}